{% load menu %}
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-book"></i>
                    </div>
                    <span class="b-title">Conecta FRLP</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li data-username="home page" class="nav-item">
                        <a href="/" class="nav-link "><span class="pcoded-micon">
                            <i class="feather icon-home"></i></span><span class="pcoded-mtext">Home</span>
                        </a>
                    </li>
                    <li class="{% active 'grupos' %}" class="nav-item">
                        <a href="/grupos" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-users"></i>
                            </span>
                            <span class="pcoded-mtext">Grupos</span>
                        </a>
                    </li>
                    <li class="{% active 'contactos' %}" class="nav-item">
                        <a href="/contactos" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-user"></i>
                            </span>
                            <span class="pcoded-mtext">Contactos</span>
                        </a>
                    </li>
                    <li class="{% active 'enviarmensaje' %}" class="nav-item">
                        <a href="/enviarmensaje" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-message-circle"></i>
                            </span>
                            <span class="pcoded-mtext">Enviar Mensaje</span>
                        </a>
                    </li>
                    <li class="{% active 'perfil' %}" class="nav-item">
                        <a href="/perfil" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-user"></i>
                            </span>
                            <span class="pcoded-mtext">Perfil</span>
                        </a>
                    </li>
                    <li class="{% active 'nuevogrupo' %}" class="nav-item">
                        <a href="/nuevogrupo" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-help-circle"></i>
                            </span>
                            <span class="pcoded-mtext">Ayuda</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href={% url 'logout' %} class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-power"></i>
                            </span>
                            <span class="pcoded-mtext">Salir</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
