{% extends "layouts/base.html" %}

{% block title %} Crear grupo {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Editar grupo: {{group.name}}</h5>
                        </div>
                        <div class="card-block table-border-style">
                            <form role="form" method="post" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="inputCareer">Carrera</label>
                                    <div class="input-group mb-3">
                                        {{ form.career }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputSubject">Materia</label>
                                    <div class="input-group mb-3">
                                        {{ form.subject }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputComision">Comisión</label>
                                    <div class="input-group mb-3">
                                        {{ form.commission }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputCurrentYear">Año</label>
                                    <input type="text" class="form-control" id="inputCurrentYear"
                                        placeholder="{{form.current_year}}">
                                </div>
                                <div class="form-group">
                                    <label for="inputContactList">Integrantes</label>
                                    <div class="input-group mb-3">
                                        {{ form.contacts }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary shadow-2 mb-4 float-right">Guardar</button>
                                <a class="btn btn-secondary float-right" href="/grupos" role="button">Cancelar</a>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}