{% extends "layouts/base.html" %}

{% block title %} Contactos {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Contactos</h5>
                                <div class="btn-toolbar float-right">
                                    <div class="input-group float-right mx-2">
                                        <input type="text" class="form-control" id="searchInput" placeholder="Buscar">
                                    </div>
                                    <div class="input-group">
                                        <a class="btn btn-primary" href="nuevocontacto" style="float: right;" data-toggle="tooltip">Agregar</a>                               
                                    </div>
                                </div>
                            </div>
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" id ="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>{{ message }}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Apellido</th>
                                                <th scope="col">Usuario Telegram</th>
                                                <th scope="col">Rol</th>
                                                <th scope="col">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                        {% for contact in contacts %}                                        
                                            <tr>
                                                <td>{{contact.first_name}}</td>
                                                <td>{{contact.last_name}}</td>
                                                <td>@{{contact.name}}</td>
                                                <td>{{contact.rol_description}}</td>
                                                <td>
                                                    <a href="editarcontacto/{{contact.name}}">
                                                        <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                                                    </a>
                                                    <a href="eliminarcontacto/{{contact.name}}" class="delete" data-toggle="modal" data-target="#delete-confirmation-model" data-name="@{{contact.name}}" id="deleteButton{{contact.name}}">
                                                        <i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {%	include	"pagination.html"	with	page=contacts	%}
                            </div>
                        </div>
                    </div>
                    {% include 'delete-confirmation-model.html' %}
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function(){
        $("#searchInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $('#delete-confirmation-model').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var recipient = button.data('name')
        var modal = $(this)
        modal.find('.modal-title').text("Eliminar contacto " + recipient)
        modal.find('#modal-body').text("Estas seguro que desea eliminar el contacto?")
    });

    $(document).on('click', '.delete', function () {
        $("#delete-confirmation-model").attr("caller-id", $(this).attr("id"));
    });

    $(document).on('click', '#confirmDeleteButtonModal', function () {
        var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
        window.location = $("#".concat(caller)).attr("href");
    });

    $(document).ready( function() {
        $('#alert').delay(2000).fadeOut();
    });
</script>
{% endblock javascripts %}
