{% extends "layouts/base.html" %}

{% block title %} Crear grupo {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{group.name}}</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <ul class="list-group">
                                    <li class="list-group-item">{{group.career}}</li>
                                    <li class="list-group-item">{{group.subject}}</li>
                                    <li class="list-group-item">{{group.comision}}</li>
                                    <li class="list-group-item">{{group.current_year}} ac</li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
