{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add Group</h5>
                                </div>
                                <div class="card-body">
                                    <form role="form" method="post" action="">

                                        {% csrf_token %}                   
                
                                        <div class="input-group mb-3">
                                            {{ form.name }}
                                        </div>

                                        <div class="input-group mb-4">
                                            {{ form.user_chat1 }}
                                        </div>

                                        <div class="input-group mb-4">
                                            {{ form.user_chat2 }}
                                        </div>
                                        <button type="submit" class="btn btn-primary shadow-2 mb-4">Add Group</button>
                
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
