{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>No se encontraron las claves de Telegram para utilizar el sistema</h5>
                                </div>
                                <div class="card-header">
                                    <h5>Por favor ingrese en <a href="https://my.telegram.org/apps">https://my.telegram.org/apps</a> y genere las claves para poder utilizarlo</h5>
                                </div>
                                <div class="card-body">
                                    <form role="form" method="post" action="solicitarkeys">
                                        {% csrf_token %}    
                                        api_id
                                        <div class="input-group mb-3">
                                            {{ form.api_id }}
                                        </div>
                                        api_hash
                                        <div class="input-group mb-3">
                                            {{ form.api_hash }}
                                        </div>
                                        Número de teléfono
                                        <div class="input-group mb-3">
                                            {{ form.phone }}
                                        </div>
                                        <button type="submit" class="btn btn-primary shadow-2 mb-4">Guardar</button>
                
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
